# Code Owners for Rise Gaming Takistan Life Documentation
# 
# This file defines who should be requested for review when changes are made
# to different parts of the repository.
#
# More about code owners: https://docs.github.com/en/github/creating-cloning-and-archiving-repositories/about-code-owners

# Global owners - these users will be requested for review on all changes
* @pbmorris93 @TIZSp3ctr3 @tomwhite96